---
title: map
layout: default
---

{% assign uniq_tags = site.map
                  | map: 'tags'
                  | join: ","
                  | split: ","
                  | uniq %}

<style>
    #mapid {
        height: 500px;

    }
</style>

<div class="container">
    <div class="row" style="background: #0275d8;margin-bottom: 20px;padding: 10px;">    
        <div class="col-md-12">
            {% include /map/map-header.html %}  
        </div>
        <div class="col-md-3">           
                {% include /map/map-left.html %}      
        </div>
        <div class="col-md-9">
            <div id="mapid"></div>
        </div>
    </div>
</div>


