---
---

@import "toolkit.scss";






body {
  // border: solid 5px red !important;
};

html {
  overflow-y: scroll;
}

.dataTable th {
      //  float:left;
       background-color: #f39c12 !important;
       border-color:#e67e22;
}

.nav-link {
  // transition:all 0.3s ease;
}

a:hover {
    // transition:all 0.3s ease;
    // color: red;
}

a {
  // transition:all 0.3s ease;
}
