




<script>
$('[data-toggle="buttons"] .btn').on('click', function () {
    // toggle style
    $(this).toggleClass('btn-success btn-danger active');
});
</script>

<div class="container">

  <div class="col-md-9">
      <div id="mapid"></div>
  </div>

<div class="col-md-3">

  <div class="list-group">
      <span href="#" onclick="App.makeMap()" class="btn btn-danger">
          Show markers
          <span class="pull-right" id="slide-submenu">
              <!-- <i class="fa fa-times"></i> -->
          </span>
      </span>
  </div>

  <form class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-12">
        <p class="font-weight-bold text-center">Year</p>
        <div data-toggle="buttons">
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="oil" checked autocomplete="off"> 2017
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="coolant" checked autocomplete="off"> 2016
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="breakfluid" checked autocomplete="off"> 2015
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="screenwash" checked autocomplete="off"> 2014
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="leaks" checked autocomplete="off"> 2013
          </label>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <p class="font-weight-bold text-center ">Type</p>
        <div data-toggle="buttons">
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="tyres" checked autocomplete="off"> Assualt
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="wiperblades" checked autocomplete="off"> Murder
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="lights" checked autocomplete="off"> Theft
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="indicators" checked autocomplete="off"> Something
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="cleanliness" checked autocomplete="off"> Something else
          </label>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12">
        <p class="font-weight-bold">Specifics</p>
        <div data-toggle="buttons">
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="horn" checked autocomplete="off"> Male
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="breaks" checked autocomplete="off"> Female
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="seatbelt" checked autocomplete="off"> 20 - 30 Years
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="windscreen" checked autocomplete="off"> Gauteng
          </label>
          <label class="btn btn-block btn-success active">
            <input type="checkbox" name="cleanliness" checked autocomplete="off"> Conviction
          </label>
        </div>
      </div>

      <!-- <div class="col-sm-12 text-right">
        <button class="btn btn-lg" type="submit">Submit</button>
        <div id="formValues"></div>
      </div> -->

    </div>
  </form>

</div>


</div>
